In [1]:
import pandas as pd

In [2]:
raw_2019 = pd.read_csv("2019.csv")
raw_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
list(raw_2019)

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [4]:
raw_2019.rename(columns = {'Overall rank':'Rank', 'GDP per capita': 'GDP_Per_Cap', 'Social support':'Social_Support', 'Healthy life expectancy' : 'Life_Expextancy', 'Freedom to make life choices' : 'Freedom', 'Perceptions of corruption': 'Corruption'}, inplace=True)
list(raw_2019)

['Rank',
 'Country or region',
 'Score',
 'GDP_Per_Cap',
 'Social_Support',
 'Life_Expextancy',
 'Freedom',
 'Generosity',
 'Corruption']

In [5]:
raw_2019.rename(columns= {'Country or region':'Country_Region'}, inplace=True)
list(raw_2019)

['Rank',
 'Country_Region',
 'Score',
 'GDP_Per_Cap',
 'Social_Support',
 'Life_Expextancy',
 'Freedom',
 'Generosity',
 'Corruption']